@model HomeRentApp.Models.Usuario

@{

	ViewData["Title"] = "Registro de Usuario";

}
<h2>@ViewData["Title"]</h2>

<form asp-action="Registro" method="post">
    <div class="contenedorForm">
        <div class="opcionesForm">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="opcionesForm">
            <label asp-for="Correo"></label>
            <input asp-for="Correo" class="form-control" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>

        <div class="opcionesForm">
            <label asp-for="Contraseña"></label>
            <input asp-for="Contraseña" type="password" class="form-control" />
            <span asp-validation-for="Contraseña" class="text-danger"></span>
        </div>

        <div class="opcionesForm">
            <label asp-for="TipoUsuario"></label>
            <select asp-for="TipoUsuario" class="form-control">
                <option value="">Seleccione un rol</option>
                <option>Arrendador</option>
                <option>Arrendatario</option>
            </select>
            <span asp-validation-for="TipoUsuario" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Registrarse</button>
</form>

@section Scripts { 
    @{
        // Esto hace que las validaciones se hagan de manera rapida sin recargar la página
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
